/*Accueil*/
* {
    margin: 0;
}

.header_container {
    height: 20vh;
    background-color: rgba(1, 1, 1, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header_nav {
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.a_black {
    color: black;
}

.header_nav ul {
    list-style-type: none;
}

.header_nav ul li {
    width: 16vh;

    /*largeur du content_img*/
}

.header_nav a {
    display: block;
    text-decoration: none;
    padding-bottom: 20px;
    padding-top: 20px;
}

.header_nav a:hover {
    color: orange;
    border-bottom: 2px solid green;
}

/*menu deroulant*/
.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgba(250, 250, 250, 0.5);
    position: absolute;
    width: 10%;
    z-index: 1000;
}

.header_nav>ul li:hover .sous {
    display: block;

}

/*titre gras pour le dï¿½roulant*/
.sous>.li_deroulant:nth-child(1) {
    font-weight: bold;
    padding-top: 10px;
}

.li_deroulant {
    font-weight: bold;
}







.sous a:hover {
    border-bottom: none;
    background-color: rgba(200, 200, 200, 0.1);
}

.deroulant {
    padding: 15px;
    font-size: 30px;
    margin-right: 70px;
}

/*
.deroulant>a::after {;
content:
}
*/
.bouton_header {
    width: 25vh;
    text-align: center;
    color: white;
}

/* FOOTER */
#footer_partage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    background-color: lightblue;

}

.footer_article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.3%;
    align-items: center;

}

.dev_img_dimension {
    height: 80px;
    width: 80px;
}

/*FONT*/

@font-face {
    font-family: 'Zenzai-Itacha.ttf';
    src: url(../font/Zenzai-Itacha.ttf);
}

@font-face {
    font-family: 'reseaux';
    src: url('../font/reseaux/Social_Shapes.ttf');
}

.footer_article_signature {
    font-family: 'Zenzai-Itacha.ttf';
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    align-items: center;
}

.reseaux {
    font-family: 'reseaux';
    font-size: 3em;
    color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.footer_article a {
    text-decoration: none;
}

/*bouton contacter*/

.bouton_contact {
    background-image: linear-gradient(to right, #141E30 0%, #243B55 51%, #141E30 100%)
}

.bouton_contact {
    margin: 10px;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 1em;
    display: block;
}

.bouton_contact {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.bouton_reservation {
    background-image: linear-gradient(to right, #2980b9 0%, #2c3e50 51%, #2980b9 100%)
}

.bouton_reservation {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.bouton_reservation:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.article_reservation {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    word-spacing: 0.3em;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: lightslategray;
    max-width: 30%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Guillaume le s*/
/*Accueil*/
.accueil body {
    /* background: center no-repeat url(../images/word.jpg), black; */
    /* mix-blend-mode: hard-light; */
    background-position: fixed;
    background-size: cover;
    margin: 0;
    /* background: violet; */
}

.pict {
    display: flex;
    flex-direction: column-reverse;

}

.pict h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background: plum; */
    /* justify-content: center; */
    /* align-items: baseline; */
    color: rgba(255, 255, 255, 0.76);
    transform: rotate(270deg);
    text-transform: uppercase;
    font-size: 4em;
    /* writing-mode: vertical-lr;
    text-orientation: sideways-right; */
    position: relative;
    top: -13%;
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 650px;
    /* background: violet; */
}

.select div {
    height: 42em;
    width: 16%;
    /* width: 150px; */
    border: 0 solid rgba(0, 0, 0, 0);
    transition: border 700ms ease-in-out;
    transition: width 400ms ease-in-out;
    /* transition: color 500ms ease-in-out; */
}

#one {
    /* height: 250px; */
    /* width: 15%; */
    /* background: tomato; */
    background: center no-repeat url(../images/netherland.jpg);
    background-size: cover;
}

#one h3 {
    width: 80%;
}

#two {
    /* height: 250px; */
    /* width: 15%; */
    /* background: rgb(142, 255, 13); */
    background: center no-repeat url(../images/irland.jpg);

    background-size: cover;
}

#three {
    /* height: 250px; */
    /* width: 15%; */
    /* background: rgb(13, 166, 255); */
    background: center no-repeat url(../images/brazil2.jpg);
    background-size: cover;
}

#four {
    /* height: 250px; */
    /* width: 15%; */
    /* background: rgb(146, 5, 165); */
    background: center no-repeat url(../images/russia.jpg);
    background-size: cover;
}

#five {
    /* height: 250px; */
    /* width: 15%; */
    /* background: rgb(165, 5, 5); */
    background: center no-repeat url(../images/australia2.jpg);

    background-size: cover;
}

#six {
    /* height: 250px; */
    /* width: 15%; */
    /* background: rgb(255, 217, 1); */
    background: center no-repeat url(../images/japan.jpg);
    background-size: cover;
}

.pict:hover {
    color: rgb(0, 0, 0);
    border: 4px solid white;
    /* font-size: 1em; */
    /* text-shadow: 2px 2px white; */
    width: 22%;
    /* justify-content: baseline; */
    /* outline: 5px solid white; */
}

#second-section {
    /* background: plum; */
    margin-top: 200px;
    height: 1000px;
    /* background: yellow; */
}