/*header*/

#block_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    padding: 50px;
    background-color: aliceblue;
}

.b1_sous_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.img_grande_dimension {
    height: 500px;
    width: 400px;
    border-radius: 0.5em;

}

.b1_gallerie+text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    padding: 20px;
}

.b1_gallerie {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-left: 30px;
}

.img_petite_dimension {
    height: 200px;
    width: 250px;
    border-radius: 0.5em;
}

.img_petite_dimension:hover {
    transform: scale(1.5);
    transition: 400ms ease-in-out;

}

.b1_text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 50px;
}

.b1_text>p {
    width: 60%;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    word-spacing: 0.3em;
}



/*block 2*/
#block_2 {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: whitesmoke;
}

#hi_b2 {
    background-color: whitesmoke;
}

#b2_sous_block {
    padding: 30px;
    width: 80%;
}

.b2_gallerie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.b2_p_description_gallerie {
    width: 25%;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    word-spacing: 0.3em;
    font-family: 'Lato', sans-serif;
}

.b2_text_intro {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

/*b3_block*/
#b3_block {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: aliceblue;
}

#b3_sous_block {
    padding: 30px;
    width: 80%;
}

#h1_b3 {
    background-color: aliceblue;
}

h1 {
    padding-left: 2%;
    padding-top: 2%;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;

}

/*bas de page*/
#bas_de_page {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: whitesmoke;

}

#reservation {
    flex-direction: row;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 70%;
    height: 45vh;
    border: 1px black solid;
    border-radius: 1em;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-image: url('../images/Ireland/i_background_reservation.jpg');
    background-size: cover;
    background-position: bottom;
}

#guide_img_dimension {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
}

#article_reservation {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

/*derniere section*/
#guide_note {
    display: flex;
    text-align: right;
    background-color: aliceblue;
}

#guide_note article {
    width: 80%;
    padding: 30px;
}

.description_guide {
    font-size: 1.2em;
    line-height: 1.5;
    word-spacing: 0.3em;
    font-family: 'Lato', sans-serif;
}