* {
    margin: 0;
}

@font-face {
    font-family: 'Japan.ttf';
    src: url(../font/Japan.ttf);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html {
    scroll-behavior: smooth;
}

main {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: pink;
}

#titre_presentation_generale {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: 'Japan.ttf';
    font-size: 55px;
}

.section_flex_box {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    justify-content: space-evenly;
}

.box_japon {
    display: flex;
    flex-direction: column;
}

.img_pres {
    border-radius: 80px;
}

h2 {
    text-align: center;
    font-family: 'Japan.ttf';
    font-size: 40px;
    margin-bottom: 20px;
}

.titre_presentation_cate {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Japan.ttf';
    font-size: 55px;
}

.bg_img_sakura {
    background-image: url(../images/parc_ueno_japon.jpg);
    height: 70vh;
}

.bg_img_montfuji {
    background-image: url(../images/montfuji_japon.jpg);
    height: 70vh;
}

.bg_img_harakufu {
    background-image: url(../images/paysage_japon.jfif);
    height: 70vh;
}

.bg_img_shibuya {
    background-image: url(../images/shibuya_japon.jpg);
    height: 70vh;
}

.bg_img_sakura,
.bg_img_montfuji,
.bg_img_harakufu,
.bg_img_shibuya {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.presentation {
    height: 50vh;
}