/*Accueil*/
* {
    margin: 0;
}

.header_container {
    height: 20vh;
    background-color: rgba(1, 1, 1, 0.1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header_nav {
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.header_nav ul {
    list-style-type: none;
}

.header_nav ul li {
    width: 16vh;

    /*largeur du content_img*/
}

.header_nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}

.header_nav a:hover {
    color: orange;
    border-bottom: 2px solid green;
}

/*menu deroulant*/
.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background: white;
    position: absolute;
    width: 10%;
    z-index: 1000;
}

.header_nav>ul li:hover .sous {
    display: block;

}

/*titre gras pour le déroulant*/
.sous>.li_deroulant:nth-child(1) {
    font-weight: bold;
    padding-top: 10px;
}

.li_deroulant {
    font-weight: bold;
}





/*.sous a {
    padding: 10px;
    width: 20vh;

}*/

.sous a:hover {
    border-bottom: none;
    background-color: rgba(200, 200, 200, 0.1);
}

.deroulant {
    padding: 15px;
    font-size: 30px;
    margin-right: 70px;
}

/*
.deroulant>a::after {;
content:
}
*/
.bouton_header {
    width: 25vh;
    text-align: center;
}

/* FOOTER */
/*footer*/
#footer_pays_bas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    background-color: lightblue;

}

.footer_article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.3%;
    align-items: center;
}

.dev_img_dimension {
    height: 80px;
    width: 80px;
}

/*FONT*/

@font-face {
    font-family: 'Zenzai-Itacha.ttf';
    src: url(../font/Zenzai-Itacha.ttf);
}

@font-face {
    font-family: 'reseaux';
    src: url('../font/reseaux/Social_Shapes.ttf');
}

.footer_article_signature {
    font-family: 'Zenzai-Itacha.ttf';
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    align-items: center;
}

.reseaux {
    font-family: 'reseaux';
    font-size: 1em;
    color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
}