/* Voyage 3 */
/* gradient radial, couleurs du drapeau */
/* background: rgb(0,39,118);
background: radial-gradient(circle, rgba(0,39,118,1) 0%, rgba(254,223,0,1) 54%, rgba(0,150,56,1) 100%); */

.voyage3 {
    /* width: 120vh; */
    background: rgb(218, 172, 139);
    margin: 0;
    font-size: 1.5em;
}
.voyage3 #selector {
    position: relative;
    top: 100px;

    background: chartreuse;
    height: 20vh;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* margin-bottom: 20px; */


}
header {
    margin-top: 300px;
}
.voyage3 #selector a {
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 250px;
    /* width: 150px; */
    /* padding: 2em 1em; */
    /* background: pink; */
    border: 10px solid white;
    outline: black 3px dashed;
}
.voyage3 #selector a div{
    text-align: center;
    /* padding: 2em 1em; */
    border: .2em dotted black
    /* background: slategrey; */
}
.voyage3 a:active, .voyage3 a:visited {
    text-decoration: none;
}
#corcovado {
    /* background: center no-repeat url(../images/corcovado.jpg); */
}
#selector .bg {
    background-color: coral;
}