* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Australia.otf';
    src: url(../font/Australia.otf);
}

#color_menu {
    color: white;
}


/*Accueil*/

.header_container {
    height: 15vh;
    background-color: rgba(1, 1, 1, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header_nav {
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_nav ul {
    list-style-type: none;
}

.header_nav ul li {
    width: 16vh;
    /*largeur du content_img*/
}

.header_nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}

.header_nav a:hover {
    color: orange;
    border-bottom: 2px solid green;
}


/*menu deroulant*/

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background: white;
    position: absolute;
    width: 10%;
    z-index: 1000;
}

.header_nav>ul li:hover .sous {
    display: block;
}


/*titre gras pour le déroulant*/

.sous>.li_deroulant:nth-child(1) {
    font-weight: bold;
    padding-top: 10px;
}

.li_deroulant {
    font-weight: bold;
}


/*.sous a {
    padding: 10px;
    width: 20vh;
}*/

.sous a:hover {
    border-bottom: none;
    background-color: rgba(200, 200, 200, 0.1);
}

.deroulant {
    padding: 15px;
    font-size: 30px;
    margin-right: 70px;
}


/*
.deroulant>a::after {;
content:
}
*/

.bouton_header {
    width: 25vh;
    text-align: center;
    color: white;
}


/*fin de header*/


/*images*/

.bg_img_kangaroo {
    background-image: url(../images/chemin_kangaroo_island.jpg);
}

.bg_img_sydney {
    background-image: url(../images/opera_sydney.jpg);
}

.bg_img_australia {
    background-image: url(../images/bg_img_kangourou.jpg);
}

.bg_img_kangaroo,
.bg_img_sydney,
.bg_img_australia {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

body {
    background-image: url(../images/australie_bg_kangaroo.jpg);
    background-repeat: no-repeat;
}

#transparence_header {
    height: 50vh;
}

#dim_img_route_austra {
    width: 130%;
    margin-left: 5%;
    margin-top: -2%;
    border-radius: 5mm;
}

#dim_img_ile_ping {
    border-radius: 5mm;
    margin-top: -11%;
    margin-right: 2%;
}

#dim_img_opera_sydney {
    width: 70%;
    border-radius: 5mm;
    margin-top: -8%;
}

#dim_img_opera_interieur {
    margin-left: 25%;
}

#dim_img_rondoudou {
    width: 50%;
}


/*fin images*/

.presentation {
    font-size: 18px;
    text-align: justify;
}

#titre_presentation_generale {
    text-align: center;
    margin-top: 15%;
    font-family: 'Australia.otf';
    font-size: 40px;
}

.titre_presentation_cate {
    font-family: 'Australia.otf';
    font-size: 45px;
    text-align: center;
    margin-bottom: 3%;
}

h2 {
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Australia.otf';
    font-size: 35px;
}

.section_flex_box {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: space-evenly;
}

.img_pres {
    border-radius: 5mm;
}

.transparence {
    height: 15vh;
}

.kangaroo_bloc_flex1 {
    display: flex;
    flex-direction: row;
}

p {
    margin-bottom: 10px;
    text-indent: 45px;
}

#p_margin1 {
    margin-right: 5%;
    margin-left: 10%;
}

#p_margin2 {
    margin-left: 34%;
    margin-top: -11%;
    margin-right: 2%;
    text-align: justify;
}

.p_bloc_ile {
    margin-left: 3%;
    margin-right: 5%;
    text-align: justify;
}

.p_descrip {
    font-size: 20px;
    margin-left: -20%;
    margin-top: 3%;
}

#tableau_center {
    margin-left: 25%;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#tableau_climat_austra {
    text-align: center;
    border-collapse: collapse;
    width: 70%;
    border: 2px solid;
    border-radius: 5mm;
}

#tableau_climat_austra th {
    font-size: 25px;
    border: 1px solid black;
    width: 30%;
    height: 48px;
}

#tableau_climat_austra td {
    border: 1px solid black;
    width: 100px;
    height: 55px;
}

tr {
    text-align: center;
}

.color_orange {
    background-color: #ffcc66;
}

.color_jaune {
    background-color: #ffff66;
}

.color_jaune_clair {
    background-color: #ffffcc;
}

.color_bleu {
    background-color: #00ccff;
}

.color_bleu_fonce {
    background-color: #6666ff;
}

#liste_puce {
    margin-left: 5%;
}

#img_opera_bloc {
    margin-left: 2%;
}

.p_opera {
    margin-right: 5%;
    margin-left: -16%;
    margin-top: 4%;
}

#opera {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    margin-right: 3%;
}

#margin_opera_sydney {
    margin: 3%;
}

#tableau_formulaire {
    border-collapse: collapse;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3%;
    font-size: 20px;
}

select#choix {
    font-size: 15px;
    padding-right: 5%;
}

#box_presentation {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

#section_presentation_form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#presentation_ecrit {
    margin-left: -20%;
}

#formulaire {
    text-align: center;
}


/* FOOTER */

#footer_partage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    background-color: whitesmoke;
}

.footer_article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.3%;
    align-items: center;
}

.dev_img_dimension {
    height: 80px;
    width: 80px;
}


/*FONT*/

@font-face {
    font-family: 'Zenzai-Itacha.ttf';
    src: url(../font/Zenzai-Itacha.ttf);
}

@font-face {
    font-family: 'reseaux';
    src: url('../font/reseaux/Social_Shapes.ttf');
}

.footer_article_signature {
    font-family: 'Zenzai-Itacha.ttf';
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    align-items: center;
}

.reseaux {
    font-family: 'reseaux';
    font-size: 3em;
    color: black;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.footer_article a {
    text-decoration: none;
}


/*bouton contacter*/

.bouton_contact {
    background-image: linear-gradient(to right, #141E30 0%, #243B55 51%, #141E30 100%)
}

.bouton_contact {
    margin: 10px;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 1em;
    display: block;
}

.bouton_contact {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.bouton_reservation {
    background-image: linear-gradient(to right, #2980b9 0%, #2c3e50 51%, #2980b9 100%)
}

.bouton_reservation {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.bouton_reservation:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.article_reservation {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    word-spacing: 0.3em;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: lightslategray;
    max-width: 30%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}